@model TermProjectFacultyC.purchaselist

@{
    ViewBag.Title = "Создание";
}

<h2>Создать</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>purchaselist</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2"> Наименование </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.purchasename, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.purchasename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Описание </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.purchasedescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.purchasedescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Кафедра-отправитель </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Количество </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Цена за 1 шт, руб </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.price1pc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price1pc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Общая стоимость </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.overallsum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.overallsum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Одобрить </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ifapproved)
                    @Html.ValidationMessageFor(model => model.ifapproved, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
