@model IEnumerable<TermProjectFacultyC.gwresult>

@{
    ViewBag.Title = "Результаты защиты ВКР";
}

<h2>Результаты защиты ВКР</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <div>Код ВКР</div>
        </th>
        <th>
            <div>Оценка</div>
        </th>
        <th>
            <div>Описание мероприятия</div>
        </th>
        <th>
            <div>Ответственный</div>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventlog.eventdescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gekmembers.gekposition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
