@model IEnumerable<TermProjectFacultyC.gekmembers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gek.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gek1.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gek2.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gek3.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gek4.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sciadvisor.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gek.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gek1.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gek2.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gek3.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gek4.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sciadvisor.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
