@model TermProjectFacultyC.sciadvisor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sciadvisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Преподаватель
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professor)
        </dd>

        <dt>
            Часы на ВКР
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoursGW)
        </dd>

        <dt>
            Часов на одну ВКР
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoursperGW)
        </dd>

        <dt>
            Занятые часы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.takenGWquantity)
        </dd>

        <dt>
            Свободные часы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freeGWquantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
