@model TermProjectFacultyC.sciadvisor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sciadvisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Преподаватель
        </dt>

        <dd>
            @Html.DisplayFor(model => model.professor)
        </dd>

        <dt>
            Часы на ВКР
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoursGW)
        </dd>

        <dt>
            Часов на одну ВКР
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoursperGW)
        </dd>

        <dt>
            Занятые часы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.takenGWquantity)
        </dd>

        <dt>
            Свободные часы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freeGWquantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
