@model IEnumerable<TermProjectFacultyC.sciadvisor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <div>Преподаватель</div>
        </th>
        <th>
            <div>Часы на ВКР</div>
        </th>
        <th>
            <div>Часов на одну ВКР</div>
        </th>
        <th>
            <div>Занятые часы</div>
        </th>
        <th>
            <div>Свободные часы</div>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoursGW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoursperGW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.takenGWquantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.freeGWquantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
