@model IEnumerable<TermProjectFacultyC.gekmembers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <div>Должность</div>
        </th>
        <th>
            <div>Фамилия</div>
        </th>
        <th>
            <div>ID ГЭКа</div>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gekposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gek.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geklineup.id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <button>@Html.ActionLink("Шаги", "GradWorkTest", "Home")</button>
    </p>
    <p>
        <button>@Html.ActionLink("Предыдущий шаг", "Index", "geklineups")</button>
    </p>
    <p>
        <button>@Html.ActionLink("Домой", "Index", "Home")</button>
    </p>
}