@model TermProjectFacultyC.eventlog

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eventlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата защиты
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventdate)
        </dd>

        <dt>
            Аудитория
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventplace)
        </dd>

        <dt>
            Ответственный преподаватель
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsibleprofessor)
        </dd>

        <dt>
            Описание мероприятия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventdescr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
