@model TermProjectFacultyC.eventlog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>eventlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата защиты
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventdate)
        </dd>

        <dt>
            Аудитория
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventplace)
        </dd>

        <dt>
            Ответственный преподаватель
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsibleprofessor)
        </dd>

        <dt>
            Описание мероприятия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventdescr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
