@model TermProjectFacultyC.gek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patronymic)
        </dd>

        <dt>
            Место работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placeofwork)
        </dd>

        <dt>
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
