@model IEnumerable<TermProjectFacultyC.gek>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placeofwork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placeofwork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <button>@Html.ActionLink("Шаги", "GradWorkTest", "Home")</button>
    </p>
    <p>
        <button>@Html.ActionLink("Следующий шаг", "Index", "eventlogs")</button>
    </p>
}
